broadcast-monitoring/infrastructure/video_processing_state_machine.json
{
  "StartAt": "Parse Manifest",
  "States": {
    "Parse Manifest": {
      "Type": "Task",
      "Parameters": {
        "Execution.$": "$$.Execution.Id",
        "Input.$": "$"
      },
      "Resource": "${ManifestParserFunction.Arn}",
      "ResultPath": "$.parsed",
      "Next": "Is Master Manifest?"
    },
    "Is Master Manifest?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.parsed.isMasterManifest",
          "BooleanEquals": true,
          "Next": "Finished"
        }
      ],
      "Default": "Find Expected Program"
    },
    "Find Expected Program": {
      "Type": "Task",
      "Resource": "${FindExpectedProgramFunction.Arn}",
      "Next": "Reuse Detections?",
      "ResultPath": "$"
    },
    "Finished": {
      "Type": "Succeed"
    },
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Audio Detection",
          "States": {
            "Audio Detection": {
              "Type": "Task",
              "Resource": "${AudioDetectionFunction.Arn}",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Audio Detect Error"
                }
              ],
              "End": true
            },
            "Audio Detect Error": {
              "Type": "Pass",
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "Language Detection",
          "States": {
            "Language Detection": {
              "Type": "Task",
              "Resource": "${LanguageDetectionFunction.Arn}",
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Language Detect Error"
                }
              ],
              "End": true
            },
            "Language Detect Error": {
              "Type": "Pass",
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "Extract Frames",
          "States": {
            "Extract Frames": {
              "Type": "Task",
              "Resource": "${FrameExtractorFunction.Arn}",
              "ResultPath": "$.frames",
              "Next": "For each frame"
            },
            "For each frame": {
              "Type": "Map",
              "ItemsPath": "$.frames",
              "Parameters": {
                "frame.$": "$$.Map.Item.Value",
                "config.$": "$.config",
                "parsed.$": "$.parsed"
              },
              "Iterator": {
                "StartAt": "Frame Processing",
                "States": {
                  "Frame Processing": {
                    "Type": "Parallel",
                    "Branches": [
                      {
                        "StartAt": "Text in Image",
                        "States": {
                          "Text in Image": {
                            "Type": "Task",
                            "Resource": "${TeamMatchingTextInImageFunction.Arn}",
                            "ResultPath": "$",
                            "Catch": [
                              {
                                "ErrorEquals": [
                                  "States.ALL"
                                ],
                                "Next": "Team Detect Error"
                              }
                            ],
                            "End": true
                          },
                          "Team Detect Error": {
                            "Type": "Pass",
                            "ResultPath": null,
                            "End": true
                          }
                        }
                      },
                      {
                        "StartAt": "Station Logo Detection",
                        "States": {
                          "Station Logo Detection": {
                            "Type": "Task",
                            "Resource": "${LogoDetectionFunction.Arn}",
                            "ResultPath": null,
                            "Catch": [
                              {
                                "ErrorEquals": [
                                  "States.ALL"
                                ],
                                "Next": "Logo Detect Error"
                              }
                            ],
                            "Next": "Crop Station Logo"
                          },
                          "Crop Station Logo": {
                            "Type": "Task",
                            "Resource": "${StationLogoCropFunction.Arn}",
                            "Catch": [
                              {
                                "ErrorEquals": [
                                  "States.ALL"
                                ],
                                "Next": "Logo Detect Error"
                              }
                            ],
                            "End": true
                          },
                          "Logo Detect Error": {
                            "Type": "Pass",
                            "ResultPath": null,
                            "End": true
                          }
                        }
                      },
                      {
                        "StartAt": "Team Logo Detection",
                        "States": {
                          "Team Logo Detection": {
                            "Type": "Task",
                            "Resource": "${TeamLogoDetectionFunction.Arn}",
                            "ResultPath": null,
                            "Catch": [
                              {
                                "ErrorEquals": [
                                  "States.ALL"
                                ],
                                "Next": "Team Logo Detect Error"
                              }
                            ],
                            "End": true
                          },
                          "Team Logo Detect Error": {
                            "Type": "Pass",
                            "ResultPath": null,
                            "End": true
                          }
                        }
                      },
                      {
                        "StartAt": "Sports Detection",
                        "States": {
                          "Sports Detection": {
                            "Type": "Task",
                            "Resource": "${SportsDetectFunction.Arn}",
                            "Catch": [
                              {
                                "ErrorEquals": [
                                  "States.ALL"
                                ],
                                "Next": "Sports Detect Error"
                              }
                            ],
                            "End": true
                          },
                          "Sports Detect Error": {
                            "Type": "Pass",
                            "ResultPath": null,
                            "End": true
                          }
                        }
                      }
                    ],
                    "ResultPath": "$.frame.analysis",
                    "OutputPath": "$.frame",
                    "End": true
                  }
                }
              },
              "Next": "Consolidate Team Info",
              "ResultPath": null,
              "OutputPath": "$"
            },
            "Consolidate Team Info": {
              "Type": "Task",
              "Resource": "${ConsolidateTeamInfoFunction.Arn}",
              "ResultPath": null,
              "OutputPath": "$",
              "Next": "Consolidate Frame Info"
            },
            "Consolidate Frame Info": {
              "Type": "Task",
              "Resource": "${ConsolidateFrameInfoFunction.Arn}",
              "ResultPath": null,
              "OutputPath": "$.frames",
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.detections",
      "Next": "Consolidate"
    },
    "Consolidate": {
      "Type": "Task",
      "Resource": "${ConsolidateFunction.Arn}",
      "Next": "Notify AppSync"
    },
    "Notify AppSync": {
      "Type": "Task",
      "Resource": "${AppSyncNotifyFunction.Arn}",
      "End": true
    },
    "Reuse Detections?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.reuse.enabled",
          "BooleanEquals": true,
          "Next": "Wait"
        }
      ],
      "Default": "Parallel"
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 15,
      "Next": "Reuse Detections"
    },
    "Reuse Detections": {
      "Type": "Task",
      "Resource": "${ReuseDetectionFunction.Arn}",
      "Next": "Notify AppSync"
    }
  }
}